.hidden {
    display: none;
}

img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.8;
    filter: brightness(75%);
  }

.scroll-x {
 overflow-x: hidden;
 overflow-y: auto;
 white-space: nowrap;
 -webkit-overflow-scrolling: touch;
 -ms-overflow-style: none;
 scrollbar-width: none;
}

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    text-align: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url(./img/1.gif) no-repeat center;
    background-size: 70%;
    background-position: center top;
    overflow-x: hidden;
    font-family: 'Barbie';
}

#clock{
    font-size: 50px;
    color: white;
}

.center_content{
    
}
